*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f2f4;
    color: #333;
}

/* Encabezado */
header {
    background-color: #45a6f5;
    color: white;
    padding: 20px 0;
    height: 60px;
}

header p span {
    font-weight: bold;
    color: #ff4081;
}

header h1 mark {
    background: none;
    color: white;
    font-style: italic;
}

nav {
    display: flex;
    justify-content:space-between;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.left {
    display: flex;
    gap: 15px;
}

.right{
    display: flex;
    gap: 15px;
}

nav button {
    background-color: #e85c8a;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #0056b3;
}

.logo{
    height: 200px;
}
/* Sección principal */
main {
    padding: 20px;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container li a {
    text-decoration: none;
    color: #2196F3;
    font-weight: bold;
}

/* Formulario */
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

form select, form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    background-color: #e85c8a;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.añadir_carrito:hover{
    background-color: #0056b3;
}

/* Pie de página */
footer {
    background-color:#e85c8a;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.imagen_whatsapp{
    height: 15px;
    width: 15px;
}

.imagen_facebook{
    height: 15px;
    width: 15px;
}

.imagen_instagram{
    height: 15px;
    width: 15px;
}

